// Desktops
$breakpoint-xl: 1920px;
$breakpoint-lg: 1440px;
$breakpoint-md: 1366px;
$breakpoint-sm: 1280px;
$breakpoint-xsm: 1050px;
// Tablets
$breakpoint-tablet: 768px;
//Mobile
$breakpoint-mobile: 425px;
$breakpoint-mobile-sm: 375px;
$breakpoint-mobile-xs: 320px;
